<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mysql_phone_book.Properties.Settings.phone_bookConnectionString" connectionString="server=localhost;user id=Roma;password=Forzajuve321.;persistsecurityinfo=True;database=phone_book" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
